<div ng-controller='MyCtrlMessages'>
    <div class="container" id="" style="footer row">
        <!-- Add message (we need to add title, body, create and cancel buttons)-->
        <button type="button" ng-click="startCreating()" ng-show="!isCreating">
            Send Message
        </button>
        <form class="create-form" ng-show="isCreating" role="form" ng-submit="createMessage(newMessage)" novalidate>
            <div class="form-group">
                <div class="col-md-8">
                    <label for="newMessageTitle">Message Title*</label>
                    <input type="text" class="form-control" id="newMessageTitle" ng-model="newMessage.title" placeholder="Enter title">
                </div>
                <div class="col-md-4">
                  <label for="newMessageWho">Who For*</label>
                  <select class="form-control" id="newMessageWho">
                    <option ng-repeat="yearlevel in yearLevels">{{yearlevel.name}}
                    </option>
                  </select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="newMessageBody">Message Body</label>
                <input type="text" class="form-control" id="newMessageBody" ng-model="newMessage.body" placeholder="Enter body">
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-info btn-lg">Create</button>
                <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Cancel</button>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <table class="table table-striped" fixedHeader>
            <thead>
                <tr>
                    <th class="col-md-2">Date Sent</th>
                    <th class="col-md-2">Title</th>
                    <th class="col-md-7">Body</th>
                    <th class="col-md-1 text-center">Read (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in messageList">
                    <td>{{message.createdOn}}</td>
                    <td>{{message.title}}</td>
                    <td>{{message.body}}</td>
                    <td class="text-center">{{message.read}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>